.App {
  text-align: center;
}
.main-div {
  margin: 0 359px;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 300px;
  margin: 0 100px;
}
.row .col {
  background-color: rgba(196, 240, 240, 0.315);
  border: 1px solid rgb(126, 124, 124);
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
strong {
  color: #0d6efd;
}
h3 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}
p {
  text-align: left;
  padding-top: 10px;
}
.text-muted {
  color: #6c757d;
}
.col-b {
  background-color: rgb(85, 89, 92);
  border: 1px solid #000;
  height: 100%;
}
a {
  cursor: pointer;
  color: #0d6efd !important;
}
a:hover {
  font-weight: bold;
  text-decoration: underline;
}